//////////////////
// chart

.chart
  .paper
    width: 281px
    height: 281px
    background-image: url("../images/chart__bg.png")
    background-repeat: no-repeat
    background-position: center center