$mainWidth = 980px
//Color
$baseFontColor = #000

//Font
$baseFontFamily = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
$oswaldFont = "Oswald", "Noto Sans JP","Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
$notoFont = "Noto Sans JP","Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif

$baseFontSize = 14.72px
$baseLineHeight = 29.44px
$titleFontSize = 30.62px

$fontSizeL = 18px
$fontSizeLHeight = 27px
textSizeL(){
  font-size: $fontSizeL
  line-height: $fontSizeLHeight
}

$fontSizeM = 16px
$fontSizeMHeight = 29px
textSizeM(){
  font-size: $fontSizeM
  line-height: $fontSizeMHeight
}

$fontSizeSM = 14px
$fontSizeSMHeight = 26.4px
textSizeSM(){
  font-size: $fontSizeSM
  line-height: $fontSizeSMHeight
}

$fontSizeS = 12px
$fontSizeSHeight = 15px
textSizeS(){
  font-size: $fontSizeS
  line-height: $fontSizeSHeight
}

SfontSizeSS = 11px

// header
$headerHeight = 60px
$headerZindex = 10

// footer
$footerHeight = 60
$footerZindex = 1

// navigation
$navigationZindex = 1


$gradBtnLWidth = 263
$gradBtnLHeight = 52