extends ./layout/_layout.pug

block pageTitleBlock
  - pageTitle = data.meta.sitename

block pageTitleBlock
  // - pageTitle = data.index.title + " | " + data.meta.sitename
  - pageTitle = data.meta.sitename

block content
  .container__inner
    h1 hello world

block bottomjs 
  script(src=path+"assets/js/bundle.js")