$mainWidth = 100%
//Color
$baseFontColor = #000

//Font
$baseFontFamily = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
$baseFontSize = 22px
$baseLineHeight = 34px
$oswaldFont = "Oswald", "Noto Sans JP","Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
$notoFont = "Noto Sans JP","Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif

// header
$headerHeight = 107px
$headerZindex = 10

// footer
$footerHeight = 50
$footerZindex = 0

// navigation
$navigationZindex = 1


$titleFontSize = 36px