html
  font-size: $baseFontSize
body
  font-family: $baseFontFamily
  -webkit-font-smoothing: antialiased;
  color: $baseFontColor
  box-sizing: border-box
  font-size: $baseFontSize
  
h1,h2,h3,h4,h5,h6
  -webkit-font-smoothing: antialiased;
  font-size: 1rem
  color: $baseFontColor
p
  color: $baseFontColor
  font-size: 1rem
  color: $baseFontColor
  line-height: $baseLineHeight
a
  text-decoration: none
  color: $baseFontColor
a:hover
  text-decoration: underline
  color: $baseFontColor

img,iframe
  vertical-align: top

li
  list-style-type: none